html {
  scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', sans-serif;
}

.nav-link {
	text-transform: uppercase;
	font-weight: bold;
}

.background-image {
	background-image: url(./images/bg-image.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: relative;
}

#bg-container {
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
}

h1, h3 {
	font-weight: bold;
}

.section-about {
	min-height: 100vh;
}

.projects-image {
	background-image: url(./images/bg-projects.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

#bg-projects {
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
}

.contact {
	font-size: 1.5rem;
}